:root {
  --primary: #000000;
  --light-primary: #3B3551;
  --orange: #FF6B00;
  --green: #90D272;
  --secondary: #A0A0A0;
  --light-secondary: #6F7F95;
  --red: #EB6A6A;
  --grey: #6B6B6B;
  --white: #FFFFFF;
}

*, body, p, ul, li {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 0.875rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.primary {
  color: var(--primary);
}

.light-primary {
  color: var(--light-primary);
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green);
}

.secondary {
  color: var(--secondary);
}

.light-secondary {
  color: var(--light-secondary);
}

.red {
  color: var(--red);
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.justify-right {
  justify-content: right;
}

.w-full {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.flex-column {
  flex-direction: column;
}

aside {
  width: 17.5rem;
}

.nav {
  padding-top: 3.5rem;
}

.nav-footer {
  margin-top: 20rem;
}

main {
  position: relative;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-800 {
  font-weight: 800;
}

.logo {
  width: 11rem;
  height: 2.5rem;
}

.notification-icon {
  position: absolute;
  right: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 3rem;
}

.py-1 {
  padding-block: 1rem;
}

.py-2 {
  padding-block: 2rem;
}

.m-3 {
  margin: 3rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.my-2 {
  margin-block: 2rem;
}

.title {
  padding: 4rem 0;
  >h1 {
    font-size: 1.563rem;
  }
}

.cards-container {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.card-title {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.card-counts {
  font-size: 2.5rem;
}

#chart {
  height: 10.5rem;
}

.font-size-1 {
  font-size: 1rem;
}

th, td {
  text-align: left;
  padding-block: 1rem;
  color: var(--grey);
  font-weight: 600;
}

.text-right {
  text-align: right;
}

.pagination a {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: var(--grey);
}

.pagination a:hover, .pagination a.active {
  background: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 0.3rem;
}
